.THIS .btn-escalatecase
{
    border-radius: 2px;
    padding: 15px 0;
    background-color: #2574a9;
    border: none;
    font-weight: 700;
    color: #ffffff;
    font-size: 1em;
    margin: 0;
    width: 100%;
    -webkit-transition: background .8s ease;
    transition: background .8s ease;
}
.THIS .slds-form-element{
    padding: 15px;
}
.THIS .escalateError{
    color: #CE2A10;
    display: none;
    font-size: 12px;
    padding: 15px;
}