.THIS span {
    font-family: sf-font-regular,Helvetica Neue,Helvetica,Arial;
    font-size: 13px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
.THIS .clear{
    clear: both;
}
.THIS .smallfont, .THIS .smallfont a, .THIS .smallfont a:link, .THIS .smallfont a:hover {
    font-size: 11px;
}
.THIS .searchKeywordError{
    display: none;
    color: #cc0000;
}
.THIS .contentMain{
    
}
.THIS li {
    width: 100%;
}
.THIS .list-title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;    
}
.THIS .list-group {
    display: flex;
    flex-wrap: wrap;
	padding: 0;
}
.THIS .list-group-item {
    padding: 25px 25px 0px 25px;
    font-size: 12px;
    list-style: none;
    width: 100%;
}
.THIS .idea-detail {
    background: #fff;
}
.THIS .itemleft {
    float: left; 
    width: 80px;
}
.THIS .itemmain {
    margin-left: 80px;
}
.THIS .itempad {
    padding-top: 10px;
}
.THIS .ideaTitle {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS .ideaStatus {
    font-size: 11px; 
    text-transform: uppercase; 
    border: 1px solid #ddd; 
    background: #f9f9f9; 
    padding: 2px;
}
.THIS .ideaScore {
    font-size: 10px; 
    width: 64px; 
    text-align: center;
}
.THIS .ideaVote{
    font-size: 10px; 
    width: 64px; 
    text-align: center; 
    margin-top: 10px; 
    font-weight: bold;
}
.THIS .voteForIdea{
    width: 64px;
}
.THIS .promoteDemoteIdea{
    cursor: pointer;
    margin-top: 2px;
}
.THIS img {
    max-width: 100%;
    max-height: 100%;
}
.THIS .filter {
    display: none;
    padding: 5px;
}
.THIS .paginationButtons{
    text-align: right;
    padding: 15px;
}
.THIS .uiButton {
    background: #fff;
    border: 1px solid #ccc;
    padding: 4px 15px;
    margin: 0 2px;
    border-radius: 3px;
}
.THIS .pageTitle{
    padding: 10px;
}
.THIS .postIdeaButton{
    float: right;
    padding: 0px 0px 20px 20px;
}
.THIS .postIdeaButton a{
    background: #fff;
    border: 1px solid #ccc;
    padding: 7px 20px;
    margin: 0 2px;
    border-radius: 3px;
    font-size: 12px;
    
}
.THIS .pageStyle {
    float: right;
}
.THIS .filterStyle{
    padding: 15px;
}
.THIS .filterMenuBigOn{
    display: block;
    width: 100%;
    padding: 1px 15px;
    font-family: sf-font-regular,Helvetica Neue,Helvetica,Arial;
    font-size: 18px;
    font-weight: bold;
    color: #0070d2;
    text-decoration: none;
}
.THIS .filterMenuBig, .THIS .filterMenuBig:link, .THIS .filterMenuBig:hover, .THIS .filterMenuBig:visited {
    display: block;
    width: 100%;
    padding: 1px 15px;
    font-family: sf-font-regular,Helvetica Neue,Helvetica,Arial;
    font-size: 18px;
    color: #16325c;
    text-decoration: none;
}
.THIS .filterMenuBig:hover {
    background: #e8f2f9;
}
.THIS .filterMenuOn{
    display: block;
    width: 100%;
    padding: 1px 15px;
    font-family: sf-font-regular,Helvetica Neue,Helvetica,Arial;
    font-size: 14px;
    font-weight: bold;
    color: #0070d2;
    text-decoration: none;
}
.THIS .filterMenu, .THIS .filterMenu:link, .THIS .filterMenu:hover, .THIS .filterMenu:visited {
    display: block;
    width: 100%;
    padding: 1px 15px;
    font-family: sf-font-regular,Helvetica Neue,Helvetica,Arial;
    font-size: 14px;
    color: #16325c;
    text-decoration: none;
}
.THIS .filterMenu:hover {
    background: #e8f2f9;
}
.THIS .filterMenuBlock{
    padding: 15px 0px;
}
.THIS .filterMenuBorder{
    border-top: 1px solid #ddd;
}
.THIS .filterMenuHeader{
    padding: 0px 15px;
}
.THIS .filterMenuHeader span{
    font-size: 18px;
}
.THIS .selectedPage{
    color: #006BD2;
    padding: 0 5px;
}
.THIS .unselectedPage{
    color: #677790;
    padding: 0 5px;
}
.THIS .avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    float: left;
    background-size: cover; 
    background-position: 50% 50%; 
    border-radius: 50%;
}
@media (max-width: 767px){
    .THIS .contentLeft {
        display: none;
    }
    .THIS .contentMain{
        margin-left: 0px;
        border-left: none;
        min-height: auto;
    }
    .THIS .filter {
        display: block;
    }
}
.THIS .section-title {
    padding: 10px 25px;
}
.THIS .section-title-bord {
    border-top: 1px solid #ddd;
}
.THIS .comment-input {
    width: 100%;
}
.THIS .btn{
    background: #fff;
    border: 1px solid #ccc;
    padding: 7px 20px;
    border-radius: 3px;
    font-size: 12px;
    color: #2574a9;
}
.THIS .promoteDemote{
    cursor:pointer;
}
.THIS .commentaction{
    float: right;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 2px 10px;
    margin-left: 5px;
    font-size: 11px;
}
.THIS .addcomment {
    padding: 10px 25px;
}