.THIS {
}

.THIS .slds-select_container:before{
    display:none;
}

.THIS .slds-select_container:after{
    bottom: calc((1.75rem / 2) - 1px);
}

.THIS .text-border-color_red {
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52);
    background-clip: padding-box;
}

.THIS .text-color_red {
    color: rgb(194, 57, 52);
}

.THIS .message-text_bold {
    font-weight: bold;
}

.THIS .message-text_size {
    font-size: 13px;
}

.THIS .message-color_blue {
    color: rgb(0, 95, 178);
}