.THIS {
}

.THIS .text-border-color_red {
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52);
    background-clip: padding-box;
}

.THIS .text-color_red {
    color: rgb(194, 57, 52);
}

.THIS .message-text_bold {
    font-weight: bold;
}

.THIS .message-text_size {
    font-size: 13px;
}

.THIS .message-color_blue {
    color: rgb(0, 95, 178);
}

.THIS .disrec-height {
    height: 15px;
    background-color:#f3f2f2;
}