<apex:component >
    <apex:attribute name="useframe" type="String" description="TODO: Describe me"/>
    <apex:attribute name="owner" type="String" description="TODO: Describe me"/>
  <!-- Begin Default Content REMOVE THIS -->
  <h1>Congratulations</h1>
  This is your new Component: emailmessagelistrelated
  <!-- End Default Content REMOVE THIS -->
</apex:component>