.THIS{
    font-family: 'SalesforceSans-Regular',Arial,sans-serif;
}
.THIS .bold{
    font-weight: bold;
}
.THIS .PaginationStyle {
    padding: 5px;
}
.THIS .paginationButtons{
    text-align: right;
    padding: 10px 0;
}
.THIS .uiButton {
    background: #fff;
    border: 1px solid #ccc;
    padding: 4px 15px;
    margin: 0 2px;
    border-radius: 3px;
}
.THIS .pageTitle{
    padding: 5px 5px 20px 5px;
}
.THIS .selectedPage{
    color: #006BD2;
    padding: 0 5px;
}
.THIS .unselectedPage{
    color: #677790;
    padding: 0 5px;
}


.THIS .selfServiceBaseArticleList .article-list {
    padding: 0;
    margin: .5em 0;
}
.THIS .selfServiceTopicArticleList.clean .selfServiceArticleListItem {
    margin: 0;
}
@media only screen and (min-width: 64.0625em){
    .THIS .selfServiceTopicArticleList .selfServiceArticleListItem {
        margin: 0;
    }
}
.THIS .selfServiceTopicArticleList .selfServiceArticleListItem {
    margin: 0 0px;
}
@media only screen and (min-aspect-ratio: 4/3) and (min-width: 48em), only screen and (min-width: 64.0625em){
	.THIS .selfServiceArticleListItem {
        margin: 0 30px;
    }
}
@media only screen and (min-width: 48em){
    .THIS .selfServiceArticleListItem {
        margin: 0 25px;
        padding: 25px 0;
    }
}
.THIS .selfServiceArticleListItem {
    background-color: #ffffff;
    border-bottom: 1px solid #f4f4f4;
    padding: 20px 0;
    margin: 0 14px;
    list-style-type: none;
}
@media only screen and (min-aspect-ratio: 4/3) and (min-width: 48em), only screen and (min-width: 64.0625em){
    .THIS .selfServiceArticleListItem .article-head {
        margin-bottom: 10px;
    }
}
@media only screen and (min-width: 48em){
    .THIS .selfServiceArticleListItem .article-head {
        font-size: 1.2em;
        line-height: 1.3em;
    }
}
.THIS .selfServiceArticleListItem .article-head {
    color: #333;
    font-size: 1.125em;
    line-height: 1.5em;
    margin-bottom: 10px;
}
.THIS .selfServiceTopicArticleList .selfServiceArticleListItem .article-summary {
    font-size: 1em;
    font-weight: 300;
}
@media only screen and (min-width: 48em){
    .THIS .selfServiceArticleListItem .article-summary {
        line-height: 1.5em;
        font-size: .875em;
    }
}
.THIS .selfServiceArticleListItem .article-summary {
    font-size: .875em;
    line-height: 1.5em;
}
.THIS span, .THIS p {
    font-family: Gotham-Book;
    font-size: 14px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
.THIS .forceCommunityResultsList .article-list .footer {
    font-weight: 300;
    font-size: 12px;
}
.THIS .selfServiceArticleListItem .footer {
    color: #696969;
    font-size: .8125em;
    margin-top: 14px;
    height: 15px;
}