<!----------Where it is used            : This page is used in site.com available for external nomination.
<!----------Purpose                     : To provide a form to user to fill the details for new nomination reference request creation.
---- -------Other comments (optional)   : 
-->

<apex:page standardStylesheets="true" id="pg" lightningStylesheets="true" sidebar="False"  showHeader="False" controller="CRP_ExternalNominationController" docType="html-5.0"> 
    
     <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

       <!-- Import the Design System style sheet -->
       <apex:slds />
    </head>
    <div style="height:500px;">
    <apex:form id="pgForm">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
        <script type="text/javascript">  
            window.onload = function() {
            document.getElementById("pgForm").focus();
        };
        
        function closePop(){
            window.location.href = '/';  
        }
        function doChange()
        {
            if({!IsSaveSuccessfull} == true){
                document.getElementById("ExternalReqId").style.visibility="hidden";
            }
        }
        
        function requiredname(name){
            if(name.value == null || name.value == "" || name.value.length == 0)
                $('#checkmessage1').show(); 
                //document.getElementById('checkmessage1').style.visibility="visible";
            else
                $('#checkmessage1').hide();
                //document.getElementById('checkmessage1').style.visibility="hidden";
        } 
        
        function requiredlastname(lastname){
            if(lastname.value == null || lastname.value == "" || lastname.value.length == 0)
                $('#checkmessage2').show();
               // document.getElementById('checkmessage2').style.visibility="visible";
            else
                $('#checkmessage2').hide();
               // document.getElementById('checkmessage2').style.visibility="hidden";
        }
        
        function phonenumberOnly(e){
            var Phonevalidation = e.value; 
            var textcharacters = /^[0-9-.x+() ]*$/ ; 
            
             if(e.value == null || e.value == "" || e.value.length == 0){ 
                 $('#checkmessage4').hide();
                 $('#checkmessage5').hide();
                 document.getElementById("pg:pgForm:joinNow").disabled = false;
            } 
            
            else if(!e.value.match(textcharacters) && e.value.length<7){
                $('#checkmessage4').show();
                $('#checkmessage5').show();
                document.getElementById("pg:pgForm:joinNow").disabled = true;
            } 
            
            else if(!e.value.match(textcharacters) && e.value.length>=7){
                $('#checkmessage4').hide();
                $('#checkmessage5').show();
                document.getElementById("pg:pgForm:joinNow").disabled = true;
            } 
            
            else if(e.value.match(textcharacters) && e.value.length<7){
                $('#checkmessage4').show(); 
                $('#checkmessage5').hide();
                document.getElementById("pg:pgForm:joinNow").disabled = true;
            }
            else if(e.value.match(textcharacters) && e.value.length>=7){
                $('#checkmessage4').hide(); 
                $('#checkmessage5').hide();
                document.getElementById("pg:pgForm:joinNow").disabled = false;
            }

            else {
                $('#checkmessage4').hide();
                $('#checkmessage5').hide(); 
                document.getElementById("pg:pgForm:joinNow").disabled = false;
             } 
            }
        
            function removeemail(e){  
              document.getElementById("checkmessage3").style.display= "none" ; 
                document.getElementById("checkemail").style.display= "block" ;  
                
            if(e.value == null || e.value == "" || e.value.length == 0){
               document.getElementById("checkmessage3").style.display= "block" ; 
               document.getElementById("checkemail").style.display= "none" ;
            }
           
            if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(e.value)) {
                document.getElementById("checkemail").style.display= "none" ;
            }
           }
 
        </script>
        <style>
            .header{
            width: 433px !important;
            height:55px; !important;
            margin-top: 0px; 
            color: #333;
            font-family: 'Barlow Condensed',sans-serif;
            text-transform: uppercase;font-stretch: semi-condensed;
            font-size:20px;color:#333;
            background: -webkit-linear-gradient(#ddd,#fff);
            webkit-text-fill-color:transparent;
            text-align: -webkit-center;
            }
            
            .joinButton{ 
            font-weight: 700 !important;
            font-family: 'Barlow',sans-serif !important;
            width: 530px !important;
            height: 51px !important;
            margin-left:-20px;
            margin-top:20px;
            color: white !important;
            padding: 0 !important;  
            background: linear-gradient(90deg,rgba(246,139,55,1) 0%,rgba(241,88,59,1) 100%) !important;
            box-shadow: 0 2px 1px 0 rgba(0,0,0,0.5) !important;
            border-radius: 2px !important;
            text-shadow: none !important;
            border-width: 0 !important;
            letter-spacing: 1px;
            line-height: 2.6 !important;
            }
            .inputBox::placeholder{
            font-family:sans-serif;
            color:#333;
            }
            
            .h2 {
            font-size: 30px;
            color: #333;
            background: -webkit-linear-gradient(#eee,#333);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 700;
            margin-top: 0;
            text-align: center;
            font-family: 'Barlow Condensed',sans-serif;
            line-height: 1.1;
            margin-bottom: 25px;
            text-transform: uppercase;
            }
            
            .dividecolumn{
            width: 47%;
            display: inline-block;
            vertical-align: top;
            }
            
            .formcard{
             border-radius: 2px;
             box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
             color: #333;
             background: #fff;
             padding: 20px;
             height: auto; 
            }
            .forminputbox{
            border: 1px solid #607d8b;
            border-radius: 3px;
            width: 99%;
            padding: 0px 5px;
            height: 40px !important;
            box-shadow: none !important;
            border-color: #607d8b !important;
            color: #607d8b !important;
            font-size: 18px !important;
            font-weight:400 !important;
                margin-bottom: 10px !important;
            }
            
            .forminputbox::-webkit-input-placeholder {
            font-size: 18px !important;
            color: #607d8b !important;
            font-weight:400 !important;
            }
            
            .formerror{
            color: #e72d0a !important;
            font-size:12px;
            margin-bottom: 10px;
            margin-top: -5px;
            }
            
            .successdiv{  
             font-family: 'Barlow Condensed',sans-serif;
             color: #333;
             margin-bottom: 18px;
             width: 100%;
             <!-- height: 40px; -->
             font-size: 16px;
             line-height: 21px;
          }
          
          .slds-form-element__label{
          display:none !important;
          }


            <!-- @media (min-width: 768px) and (max-width: 1024px) and (orientation: Portrait) {
                                                .dividecolumn{
               width: 100%;
             }
            } 
                                                
`                                               @media (min-device-width: 320px) and (max-device-width: 480px) {
                                                .dividecolumn{
               width: 100%;
             }
                                                }
                                                            
             @media (min-width: 320px) and (max-width: 767px) {
                                                .dividecolumn{
               width: 100%;
             } -->

            
           @media screen and (max-width: 400px){
                                                .dividecolumn{
               width: 100%;
                 position: relative;
             }
              .iframe-container body{overflow:hidden!important;}
              .iframe-container{height:600px!important;}
              .columnright{
            margin-top:15px; 
            }
           }
             
            
           @media only screen and (min-width: 30em) {
            width: 33.3333%;
            }
            
            @media (min-device-width: 320px) and (max-device-width: 1500px) and (orientation: Portrait) {
                                                .dividecolumn{
               width: 100%;
             }
           
           .columnright{
            margin-top:15px; 
            }
           }
                      
        </style>

        <div class="formcard">
            
            <div style ="display:{!if(IsSaveSuccessfull == true,"block","none")}; Width: 100%; height:auto; text-align: center;">
                <div class="h2" style="font-size: 30px;font-weight:700;font-stretch:extra-condensed;">
                    <div class="slds-panel-header" >{!$Label.External_Nomination_Title}</div> 
                </div>
                
                <div class="slds-panel-header successdiv" style=""> 
                    {!successMessage}
                </div>
            </div>
            
            <div style ="Width : 100%;">
                <div class="h2" style="font-size: 30px;font-weight:700;font-stretch:extra-condensed;">
                    <div class="slds-panel-header" style="display:{!if(IsSaveSuccessfull == false,"block","none")};" >{!$Label.External_Nomination_Title}</div> 
                </div>
                
                <div Id ="ExternalReqId" style="display:{!if(IsSaveSuccessfull == false,"block","none")};">
                    
                    <div class="slds-grid"> 
                        <!--- Left Column - Start --->
                        <div class="slds-col" >
                            
                            <div class="slds-form-element slds-has-error dividecolumn" style="margin-right:5%;" >
                                <label class="slds-form-element__label" for="textarea-id-01">
                                    <abbr class="slds-required" title="required"> </abbr></label>
                                
                                <apex:inputField id="input1" value="{!recRefRequest.First_Name__c}" html-placeholder=" First Name" styleClass="inputBox forminputbox" style="" required="" onblur="requiredname(this);"/>
                               <div class="slds-panel-header formerror" id="checkmessage1" style="display:{!if(isFirstNameBlank == true,"block","none")};"> 
                                       {!$Label.Required_Field_Message} 
                                </div>  
                                
                            </div> 
                         
                        <!--- Right Column - Start --->
                        <div class="slds-form-element slds-has-error dividecolumn columnright " >
                            <label class="slds-form-element__label" for="textarea-id-01">
                                <abbr class="slds-required"  title="required"> </abbr></label>
                            
                            <apex:inputField id="input2" value="{!recRefRequest.Last_Name__c}" html-placeholder=" Last Name"  styleClass="inputBox forminputbox" style="" required="" onblur="requiredlastname(this);"/>
                            <div class="slds-panel-header formerror"  id="checkmessage2" style="display:{!if(isLastNameBlank == true,"block","none")};"> 
                                {!$Label.Required_Field_Message}
                            </div>
                        </div> 
                        </div>
                    </div>
                     
                    <div class="slds-form-element" >
                        <label class="slds-form-element__label" for="textarea-id-01">
                            <abbr class="slds-required" title="required"> </abbr></label>
                        
                        <apex:inputField value="{!recRefRequest.Company_Name__c}" html-placeholder=" Company" styleClass="inputBox forminputbox" style="margin-top:15px"/>
                        
                    </div> 
                    
                    <div class="slds-form-element" >
                        <label class="slds-form-element__label" for="textarea-id-01">
                            <abbr class="slds-required" title="required"> </abbr></label>
                        
                        <apex:inputText value="{!recRefRequest.Email__c}" html-placeholder=" Email Address"  styleClass="inputBox forminputbox" style="margin-top:15px;" required="" onkeyup="removeemail(this);"/>
                        
                        <div class="slds-panel-header formerror"  id="checkmessage3" style="display:{!if(isEmailBlank == true,"block","none")};"> 
                            {!$Label.Required_Field_Message}
                        </div>
                        <div class="slds-panel-header formerror" id = "checkemail" style="display:{!if(isEmailValid == true,"block","none")};"> 
                            {!$Label.Invalid_Email_Message}
                        </div>
                        
                    </div> 
                    
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="textarea-id-01">
                            <abbr class="slds-required"   title="required"> </abbr></label>
                        
                        <apex:inputField value="{!recRefRequest.Phone_Number__c}" html-placeholder=" Phone Number"  styleClass="inputBox forminputbox" style="margin-top:15px" onblur="phonenumberOnly(this);"/>
                        <div class="slds-panel-header formerror" id= "checkmessage4" style="display:{!if(requestNumberLength == true,"block","none")};"> 
                            {!$Label.Phone_Number_Length_Check}
                        </div>
                        <div class="slds-panel-header formerror" id= "checkmessage5" style="display:{!if(isPhoneNumberInvalid == true,"block","none")};margin-bottom:15px;"> 
                            {!$Label.External_Phone_Number_Format_Message}
                        </div> 
                    </div> 
                     
                    <apex:actionFunction name="submitActionFunc" rendered="true" reRender="pgForm" action="{!save}"/>
                    <div class="slds-panel-header formerror" style="display:{!if(isError == true,"block","none")};margin-top:15px;"> 
                        {!$Label.Required_Fields_Message}
                    </div>
                    <center>
                        <div class="joinButton" style="margin-left:auto;width:100% !important;margin-bottom:20px;background: linear-gradient(90deg,rgba(246,139,55,1) 0%,rgba(241,88,59,1) 100%) !important;">
                            
                            <apex:commandButton id="joinNow" styleClass="slds-button" style="color:white;font-weight:700;font-size:18px;height:51px;cursor:pointer;width:100%;background: transparent;" onclick="submitActionFunc(); " oncomplete="doChange();" reRender="" value="JOIN NOW!" />
                            
                        </div> 
                    </center>
                </div>
            </div>
        </div>
    </apex:form>
    </div>
    </html>
</apex:page>