<apex:page controller="productOptionsController" sidebar="false" showHeader="false" lightningStylesheets="true"> 
<apex:slds />
<div class="slds-scope" >
    
    <!--<div class="slds-text-heading_medium slds-align_absolute-center "
        style ="height:5rem;font-family:bold;color:#00396b ">
        <b>PPRODUCT AND IT's FEATURES</b>
    </div> -->
    
    <div class="slds-page-header__name">
         <div class="slds-page-header__name-title">
             <h1>
                <span class="slds-page-header__title slds-truncate slds-align_absolute-center" title="Package Features">Package Features</span>
             </h1>
        </div>
   </div>
            
    
<apex:form >   
    <div align="right"  >
      
   <apex:commandButton styleClass="slds-button slds-button_brand slds-m-right_medium" 
                       action="{!Back_To_Opportunity}" value="Return to Opportunity"/> 
    </div>
    </apex:form> <br/>        
    
   
<!--<apex:pageblock title="PRODUCTS & Its Features" > -->
<apex:repeat value="{!ProductToChildProductsName}" var="string" id="theRepeat">
<apex:repeat value="{!ProductToOpportunityLineItemMap[String]}" var="Prod">
<table  style="background-color:#f4f6fe;margin:10px" class="slds-table slds-table_cell-buffer slds-table_bordered">
<thead >
<tr class="slds-line-height_reset">
<th style=" color:#00396b;font-size:15px;font-weight:bold" class="slds-text-title_caps" scope="col">
<div class="slds-truncate" title="Product Name">Product</div>
</th>
<th class="slds-text-title_caps" style=" color:#00396b;font-size:15px;font-weight:bold" scope="col">
<div class="slds-truncate" title="Quantity">Quantity</div>
</th>
<th class="slds-text-title_caps" style=" color:#00396b;font-size:15px;font-weight:bold" scope="col">
<div class="slds-truncate" title="Sales Price">Sales Price</div>
</th>
<th class="slds-text-title_caps" style=" color:#00396b;font-size:15px;font-weight:bold" scope="col">
<div class="slds-truncate" title="MRR">Actual MRR</div>
</th>   
</tr>
</thead>
<tbody>
<tr class="slds-hint-parent">
<th data-label="Product Name" scope="row">
    <div class="slds-truncate" title="Product"><a href="{!$Label.Domain_URL}{!string}" 
                                               target="_blank"    tabindex="-1">
     {!string.name}<br/></a></div>
</th>
<td data-label="Quantity">
<div class="slds-truncate" title="Quantity">{!Prod.Quantity}<br/></div>
</td>    
<td data-label="Unit Price">
<div class="slds-truncate" title="Unit Price">{!Prod.Unitprice}<br/></div>
</td>    
<td data-label="MRR">
<div class="slds-truncate" title="MRR">{!Prod.MRR__c}<br/></div>
</td>        
</tr>    
</tbody>
</table>

<table style="background-color:#f4f6fe;margin:10px" class="slds-table slds-table_cell-buffer slds-table_bordered">
<thead>
<tr class="slds-line-height_reset">
<th style="color:#3e3e3c;font-size:15px;font-weight:bold" class="slds-text-title_caps" scope="col">
<div class="slds-truncate" title="Product Name">Features</div>
</th>
</tr>
</thead>
<tbody>
 <apex:repeat value="{!ProductToChildProductsName[string]}" var="prd"> <tr class="slds-hint-parent">
<th data-label="Prd Name" scope="row">
<div  class="slds-truncate" title="Product"><a href="{!$Label.Domain_URL}{!prd}" target="_blank" tabindex="-1">
     {!prd.Name}<br/></a></div>
</th>
</tr>
</apex:repeat>  
</tbody>
</table>
</apex:repeat>
</apex:repeat>
     
         <!--   </apex:pageblock> -->
    </div>
</apex:page>