<apex:page controller="VCaseFinalResolutionRateController" showHeader="false" sidebar="false" standardStylesheets="false" action="{!loadQueryRequest}">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Support</title>
        <style>
            body {background: #666;}
            .ctn {width: 600px; margin-left: auto; margin-right: auto; margin-top:20px; margin-bottom: 20px; padding: 20px; text-align: center; border-radius: 5px; background: #fff; font-family: Helvetica, Arial; font-size: 18px; color: #333;}
        </style>
    </head>
    <body>
        <div class="ctn">
            <apex:outputText value="{!message}"/>
        </div>
    </body>
</html>
</apex:page>