.THIS span {
    font-family: sf-font-regular,Helvetica Neue,Helvetica,Arial;
    font-size: 13px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
.THIS .clear{
    clear: both;
}
.THIS .smallfont{
    font-size: 11px;
}
.THIS .contentMain{
}
.THIS .list-title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;    
}
.THIS .list-group {
    display: flex;
    flex-wrap: wrap;
	padding: 0;
}
.THIS .list-group-item {
    margin: 20px 10px;
    font-size: 12px;
    list-style: none;
    width: calc(100% - 20px);
}
.THIS .itemleft {
    float: left; 
    width: 80px;
}
.THIS .itemmain {
    margin-left: 80px;
}
.THIS .itempad {
    padding-top: 10px;
}
.THIS .groupName {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS img {
    max-width: 100%;
    max-height: 100%;
}
.THIS .filter {
    display: none;
    padding: 5px;
}
.THIS .paginationButtons{
    text-align: right;
    padding: 15px;
}
.THIS .uiButton {
    background: #fff;
    border: 1px solid #ccc;
    padding: 4px 15px;
    margin: 0 2px;
    border-radius: 3px;
}
.THIS .pageTitle{
    padding: 10px;
}
.THIS .pageStyle {
    float: right;
}
.THIS .filterStyle{
    padding: 15px;
}
.THIS .selectedPage{
    color: #006BD2;
    padding: 0 5px;
}
.THIS .unselectedPage{
    color: #677790;
    padding: 0 5px;
}
.THIS .topButton{
    float: right;
    padding: 0px 0px 20px 20px;
}
.THIS .btn{
    background: #fff;
    border: 1px solid #ccc;
    padding: 7px 20px;
    border-radius: 3px;
    font-size: 12px;
    color: #2574a9;
}
.THIS .avatar {
    width: 64px;
    height: 64px;
    border-radius: 10%;
    float: left;
    background-size: cover; 
    background-position: 50% 50%;
}
.THIS .slds-modal__content{
    padding: 1rem;
}
.THIS .slds-form-element{
    padding: 1rem;
}
.THIS .required {
    color: red;
}
.THIS .modalError{
    color: #CE2A10;
    display: none;
    font-size: 12px;
    padding: 1rem;
}