.THIS .selfServiceCaseComments {
    font-size: 1em;
}
.THIS .selfServiceCaseComments .empty {
    padding: 0;
}
@media only screen and (min-width: 48em){
    .THIS .selfServiceCaseComment {
    	padding: 20px 100px 30px;
	}
}
@media only screen and (min-aspect-ratio: 4/3) and (min-width: 48em), only screen and (min-width: 64.0625em){
    .THIS .selfServiceCaseComment {
        padding: 0 0 1.2em 0;
	}
}
.THIS .selfServiceCaseComment {
    padding-bottom: 1.2em;
    border-bottom: 1px solid #d4d4d4;
}
@media only screen and (min-aspect-ratio: 4/3) and (min-width: 48em), only screen and (min-width: 64.0625em){
    .THIS .selfServiceCaseComment .content {
        margin-left: 46px;
    }
}

.THIS .selfServiceCaseComment .content {
    margin-left: 35px;
}
.THIS .selfServiceCaseComments ul {
    list-style: none;
    padding-left: 0;
}
.THIS .selfServiceCaseComment .header {
    padding: 14px 0;
    color: #696969;
    font-size: .875em;
}
.THIS .selfServiceCaseComment .header span {
    padding-right: .8em;
}
@media only screen and (min-aspect-ratio: 4/3) and (min-width: 48em), only screen and (min-width: 64.0625em){
    .THIS .selfServiceCaseComment .avatar {
        width: 28px;
        height: 28px;
    }
}
.THIS .selfServiceCaseComment .avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    float: left;
    margin-top: 14px;
}
.THIS .more {
    padding-top: .5em;
    margin: .5em;
}