.THIS .ui-widget {
    clear: both;
}
.THIS .selfServiceCaseHighlights {
    padding: 1em;
    color: #ffffff;
    background: #33495f;
}
.THIS .selfServiceCaseHighlights {
    padding: 1em;
    color: #ffffff;
    background: #33495f;
}
.THIS .selfServiceCaseHighlights .subject {
    word-wrap: break-word;
}
.THIS .selfServiceCaseHighlights .content {
    line-height: 1.5em;
    padding-bottom: 1em;
    font-size: 1em;
    font-weight: normal;
}
.THIS .selfServiceCaseHighlights .footer .item {
    padding-right: .7em;
}
.THIS .selfServiceCaseHighlights .separator {
    margin-right: .5em;
}